.cryptoNewsContainer {
  width: 90%;
  margin-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.newsItem {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  cursor: pointer;
}

.newsItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.thumbnail {
  flex: 0 0 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 15%; /* Make the image edges round */
  object-fit: cover;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-style: italic;
  max-width: 80%; 
}
